<div id="controls">
	<div id="pad">
		<button type="button" class="btn btn-default" id="left">
			<span class="glyphicon glyphicon-arrow-left"></span>
		</button>
		<button type="button" class="btn btn-default" id="right">
			<span class="glyphicon glyphicon-arrow-right"></span>
		</button>
		<button type="button" class="btn btn-default" id="up">
			<span class="glyphicon glyphicon-arrow-up"></span>
		</button>
		<button type="button" class="btn btn-default" id="down">
			<span class="glyphicon glyphicon-arrow-down"></span>
		</button>
	</div>
	<div id="tiltpan">
		<button type="button" class="btn btn-default" id="pan_left">
			<span class="glyphicon glyphicon-arrow-left"></span>
		</button>
		<button type="button" class="btn btn-default" id="pan_right">
			<span class="glyphicon glyphicon-arrow-right"></span>
		</button>
		<button type="button" class="btn btn-default" id="tilt_up">
			<span class="glyphicon glyphicon-arrow-up"></span>
		</button>
		<button type="button" class="btn btn-default" id="tilt_down">
			<span class="glyphicon glyphicon-arrow-down"></span>
		</button>
	</div>
</div>
